<header class="site-header" style='line-height:30px;'>
  <div class="1wrapper">
    <div class='titlewrapperpost'>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title-post" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>

    <div class="trigger-post">
        <a class="page-link" href="/about"><img src='/assets/burger.png' width='32' style='margin-top:0; opacity:0.4' /></a>
    </div>

  </div>
</header>
