/**
 * Site header
 */
.site-header {
  //border-bottom: 1px solid $border-color-01;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.4);
  color:#4a4a4a;
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: 0;
  display: block;
  border-bottom: 2px solid #636363;
  margin-bottom: 2px;
  font-family: "Tauri";
  margin-top:5px;
  text-transform: uppercase;

  @include media-query($on-palm) {
    @include relative-font-size(1.1);
    border-bottom: none;
    padding-right: 45px;
  }

  &,
  &:visited {
    color:#4a4a4a;
  }
}

.site-title-post {
  @include relative-font-size(0.93);
  color:#4a4a4a;
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: 0;
  display: block;
  border-bottom: 1px solid #636363;
  margin-bottom: 2px;
  font-family: "Tauri";
  margin-top:5px;
  text-transform: uppercase;

  @include media-query($on-palm) {
    @include relative-font-size(1.1);
    border-bottom: none;
    padding-right: 45px;
  }

  &,
  &:visited {
    color:#4a4a4a;
  }
}

.titlewrapper {
  width:275px;
  margin:auto;
  margin-top:30px;
  margin-bottom: 50px;
  border-bottom:2px solid #636363;
  text-align:center;

  @include media-query($on-palm) {
    border-bottom: none;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.titlewrapperpost {
  width:205px;
  margin: 10px 0 10px 20px;
  border-bottom:1px solid #636363;

  @include media-query($on-palm) {
    width:275px;
    border-bottom: none;
    margin-left: 26px;
    margin-top: 22px;
    margin-bottom: 20px;
  }
}


.excerpt {

}

.aside {
  background:#f9f9f9;padding: 20px;border: 1px solid #e6e6e6;padding-top: 0; padding-bottom:0; font-size:18px;
  @include media-query($on-palm) {
    margin-bottom:30px;
  }
}
.aside h2 {
  font-size:1.5rem !important;
  margin-top:20px !important;
  @include media-query($on-palm) {
    font-size:22px !important;
    margin-bottom:20px;
  }
}


.site-nav {
  position: absolute;
  top: 9px;
  right: $spacing-unit / 2;
  background-color: $background-color;
  border: 1px solid $border-color-01;
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $border-color-03;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    color: #666;
    line-height: $base-line-height*2.5;
    display: block;
    padding: 5px 10px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;

      &:not(:last-child) {
        margin-right: 20px;
      }
      margin-left: auto;
    }
  }
}

.trigger {
  position:absolute;
  top:40px;
  right:20px;
  @include media-query($on-palm) {
    top:20px;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit / 2);

    &:first-child {
      padding-right: $spacing-unit / 2;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit / 2;
    }
  }
}

.home {
  margin-top:20px;
  @include media-query($on-palm) {
    margin-top:20px;
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  padding-top:20px;
  flex: 1 0 auto;
  background:#fff;

  @include media-query($on-palm) {
    padding: 10px 10px;
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;
  padding:0 100px;

  @include media-query($on-palm) {
    padding:0 10px;
  }

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.6);

  @include media-query($on-palm) {
    @include relative-font-size(1.2);
  }
}

.imgwrapper {
  box-shadow:0px 0px 10px #eee; padding:1px; margin-bottom:40px; margin-top:40px;
  background: #fff;
}
.imgwrapper2 {
  box-shadow:0px 0px 15px #f6f6f6; padding:1px; margin:40px 40px 30px 40px;
  background: #fff;
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit;

  @include media-query($on-palm) {
    margin-top:0;
  }
}

.post-title {
  //@include relative-font-size(2.625);
  font-size: 60px;
  font-weight: 500;
  letter-spacing: .001em;
  line-height: 1.2;
  color:#444;
  margin-top:20px;
  font-family: Roboto;

  @media screen and (min-width: $on-large) {
    //@include relative-font-size(2.625);
    font-size: 54px;
  }

  @include media-query($on-palm) {
    font-size:30px;
  }
}

.highlighter {
  background:#f4f5ed; margin-bottom:30px; padding:20px; font-style:italic; border-left:5px solid #d2d4c9;
}

.highlighter-gray {
  background:#f7f7f7; margin-bottom:30px; padding:1px 20px; border-left:5px solid #e6e6e6;
}

.bannercontainer {
  box-shadow:0 0 25px #eee; padding:1px; margin-bottom:40px;
}

.bannercontainer img {
  margin-top:20px; margin-bottom:20px;
}

.iframecontainer {
  box-shadow:0 0 25px #eee; padding:20px;
}

.nextlink {
  background:#ecf7fd; padding:20px 30px; display:block; font-size:18px;
}

.post-content h1 {
  //@include relative-font-size(2.625);
  font-size: 20px;
  font-weight: 800;
  letter-spacing: .008em;
  line-height: 1.15;
  color:#666;

  @media screen and (min-width: $on-large) {
    //@include relative-font-size(2.625);
    font-size: 38px;
  }

  @include media-query($on-palm) {
    font-size:28px;
    line-height: 1.3;
  }

}

.post-content {
  margin-bottom: $spacing-unit*3;
  letter-spacing: -0.011em;
  color: #444;
  line-height: 1.5;
  font-size:19px;



  h1, h2, h3 { margin-top: $spacing-unit; font-weight: 800; color:#555; font-family: Roboto;}
  h4 { margin-top: $spacing-unit; font-weight: 800; color:#555; font-family: Roboto;}
  h5, h6 { margin-top: 0; font-weight: 800; color:#555; font-family: Roboto;}

  h2 { border-bottom:1px dashed #ccc; padding-bottom:10px; margin-bottom: 30px; margin-top: $spacing-unit*2;}
  h1 { border-bottom:1px dashed #ccc; padding-bottom:18px; margin-bottom: 30px; margin-top: $spacing-unit*2;}

  h1 {
    @include media-query($on-palm) {
      margin-top:20px;
    }
  }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2.1);
    }

    @include media-query($on-palm) {
      font-size:26px;
      margin-top:30px;
    }
  }

  h3 {
    @include relative-font-size(1.7);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.7);
    }

    @include media-query($on-palm) {
      font-size:22px;
    }
  }

  h4 {
    @include relative-font-size(1.4);
    @include media-query($on-palm) {
      font-size:22px;
      margin-top:30px;
    }
  }

  h5 {
    @include relative-font-size(1.5);
    @include media-query($on-palm) {
      font-size:20px;
    }
  }
  h6 {
    @include relative-font-size(1.2);
  }

  p {
    margin-bottom: 30px;
  }
}


.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}

.qtitle {
  margin-bottom:10px;
  font-size:18px;
  font-weight: 800;
}


/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}



/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}

.mildh2 {
  border-bottom:none !important; margin-top:40px !important; margin-bottom:20px !important; font-size:1.9rem !important;
  @include media-query($on-palm) {
    margin-top:20px !important; margin-bottom:10px !important; font-size:24px !important;
  }
}
.symbol {
  font-size:30px; font-weight:400;
}
.symbol2 {
  font-size:24px; font-weight:400;
}
